# This file is used to ignore files which are generated
#----------------------------------------------------------------------------
*.o
*.out
.DS_Store
FingerCoaster/FingerCoaster.*
FingerCoaster/*.ui
FingerCoaster/*.qrc
*.ui
*.qrc
build

