# This file is used to ignore files which are generated
#----------------------------------------------------------------------------
*.o
*.out
*.autosave
**/.DS_Store
# **/build-FingerCoaster-Qt_6_2_2_for_macOS-Debug/
FingerCoaster.*
!FingerCoaster.pro
build



